/* Agregue comentarios a los selectores avanzados que son nuevos para mi */
body {
  background-color: #222;
  color: rgb(255, 0, 98);
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h1, h2, h3 {
  color: #eee;
  text-transform: uppercase;
}

strong {
  border-bottom: 1px solid white;
}

.the-force {
  background-color: #444;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 3px;
}

.light-side {
  color: rgb(156, 102, 255);
}

.dark-side {
  color: rgb(51, 255, 119);
}

#og-trilogy {
  list-style-type: circle;
}

/* Agrega padding-left al segundo listado de películas */
.movies-list:nth-of-type(2) {
  padding-left: 20px;
}

/* Agrega margin-top al último elemento del tercer listado de películas */
.movies-list:nth-of-type(3) li:last-child {
  margin-top: 10px;
}

/* Cambia el color de la primera línea del primer párrafo */
p:first-of-type::first-line {
  color: #efe;
}

h1:hover {
  color: rgb(255, 0, 0);
}

a:visited {
  color: gray;
}

/* Muestra en cursiva los links sin atributo href */
a:not([href]) {
  font-style: italic;
}

/* Cambia los colores en elementos impares*/
.movies-list li:nth-child(odd) {
  background-color: #2b2a2a;
}

/* Para elementos pares */
.movies-list li:nth-child(even) {
  background-color: #504f4f;
}
